.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid hsl(0, 4%, 5%);
    margin-bottom: 8px;
    border-radius: 5px;
    width: 450px;
    transition: background-color 0.3s;
  }
  
  .item:hover {
    background-color: #8b8888;
  }
  
  .item__info {
    flex: 1;
  }
  
  .item__delete {
    background: #ff4d4d;
    border: none;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .item__delete:hover {
    background: #cc0000;
  }
  